@page
@model Shaos.Pages.Devices.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Instance Devices</h1>

@{
    var backToListDisabled = string.IsNullOrEmpty(Model.CurrentFilter) ? "disabled" : "";
}

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-sm btn-primary" /> |
            <a asp-page="./Index" class="btn btn-sm btn-primary @backToListDisabled">Back To List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index"
                   asp-route-id="@Model.Id"
                   asp-route-sortOrder="@Model.IdSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(_ => _.List[0].Id)
                </a>
            </th>
            <th>
                <a asp-page="./Index"
                   asp-route-id="@Model.Id"
                   asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(_ => _.List[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(_ => _.List[0].InstanceId)
            </th>
            <th>
                @Html.DisplayNameFor(_ => _.List[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(_ => _.List[0].UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
        <tr>
            <td>
                @Html.DisplayFor(_ => item.Id)
            </td>
            <td>
                @Html.DisplayFor(_ => item.Name)
            </td>
            <td>
                @Html.DisplayFor(_ => item.InstanceId)
            </td>
            <td>
                @Html.DisplayFor(_ => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(_ => item.UpdatedDate)
            </td>
            <td>
                <a asp-page="/Parameters/Index" asp-route-id="@item.Id" class="btn btn-sm btn-primary" title="Devices">
                    <span>
                        <svg bootstrap-icon="CardList" width="24" height="24" aria-label="Devices"></svg>
                    </span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.List.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.List.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-id="@Model.Id"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.List.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-sm btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-id="@Model.Id"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.List.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-sm btn-primary @nextDisabled">
    Next
</a>

<a asp-page="/Instances/Index" class="btn btn-sm btn-primary">
    Back
</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
