@page
@model Shaos.Pages.PlugIns.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlugIn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlugIn.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlugIn.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlugIn.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlugIn.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlugIn.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlugIn.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlugIn.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlugIn.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PlugIn.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
