@page
@model Shaos.Pages.PlugIns.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>PlugIns</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plugin" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 1 2.898 5.673c-.167-.121-.216-.406-.002-.62l1.8-1.8a3.5 3.5 0 0 0 4.572-.328l1.414-1.415a.5.5 0 0 0 0-.707l-.707-.707 1.559-1.563a.5.5 0 1 0-.708-.706l-1.559 1.562-1.414-1.414 1.56-1.562a.5.5 0 1 0-.707-.706l-1.56 1.56-.707-.706a.5.5 0 0 0-.707 0L5.318 5.975a3.5 3.5 0 0 0-.328 4.571l-1.8 1.8c-.58.58-.62 1.6.121 2.137A8 8 0 1 0 0 8a.5.5 0 0 0 1 0" />
        </svg>
        Create</a>
</p>

@{
    var backToListDisabled = Model.List.Count == 0 ? "disabled" : "";
}

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index" class="btn @backToListDisabled">Back To List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.IdSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.List[0].Id)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.List[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Description)
            </th>
            <th>
                Package
            </th>
            <th>
                Version
            </th>
            <th>
                Instances
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
        var instancesDisabled = item.Package == null ? "disabled" : "";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @(item.Package != null ? item.Package.FileName : "Unassigned")
            </td>
            <td>
                @(item.Package != null ? item.Package.AssemblyVersion : "Unassigned")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instances.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-page="./Package" asp-route-id="@item.Id" class="nav-link">Package</a> |
                <a asp-page="/PlugInInstances/Index" asp-route-id="@item.Id" class="nav-link @instancesDisabled">Instances</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.List.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.List.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.List.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.List.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>