@page
@model Shaos.Pages.PlugIns.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>PlugIns</h1>

<p>
    <a asp-page="PackageUpload" title="PlugIn Package Upload" class="btn btn-sm btn-primary">
        <span>
            <svg bootstrap-icon="Upload" width="24" height="24" aria-label="Upload"></svg>
        </span>
        PlugIn Package Upload
    </a>
</p>

@{
    var backToListDisabled = string.IsNullOrEmpty(Model.CurrentFilter) ? "disabled" : "";
}

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-sm btn-primary" /> |
            <a asp-page="./Index" class="btn btn-sm btn-primary @backToListDisabled">Back To List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.IdSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.List[0].Id)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.List[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Description)
            </th>
            <th>
                Package
            </th>
            <th>
                Version
            </th>
            <th>
                Instances
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            var instancesDisabled = item.Package == null ? "disabled" : "";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @(item.Package != null ? item.Package.FileName : "Unassigned")
                </td>
                <td>
                    @(item.Package != null ? item.Package.AssemblyVersion : "Unassigned")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instances.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary" title="Edit PlugIn">
                        <span>
                            <svg bootstrap-icon="PencilSquare" width="24" height="24" aria-label="Edit"></svg>
                        </span>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-primary" title="Delete PlugIn">
                        <span>
                            <svg bootstrap-icon="Trash" width="24" height="24" aria-label="Delete"></svg>
                        </span>
                    </a>
                    <a asp-page="./Package" asp-route-id="@item.Id" class="btn btn-sm btn-primary" title="PlugIn Package">
                        <span>
                            <svg bootstrap-icon="BoxFill" width="24" height="24" aria-label="Package"></svg>
                        </span>
                    </a>
                    <a asp-page="/PlugInInstances/Index" asp-route-id="@item.Id" class="btn btn-sm btn-primary @instancesDisabled" title="PlugIn Instances">
                        <span>
                            <svg bootstrap-icon="CardList" width="24" height="24" aria-label="Instances"></svg>
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.List.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.List.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.List.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-sm btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.List.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-sm btn-primary @nextDisabled">
    Next
</a>