@page
@model Shaos.Pages.PlugIns.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>PlugIns</h1>

<p>
    <a asp-page="Create">Create New PlugIn</a>
</p>

@{
    var backToListDisabled = Model.PlugIns.Count == 0 ? "disabled" : "";
}

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index" class="btn @backToListDisabled">Back To List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.IdSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.PlugIns[0].Id)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.PlugIns[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlugIns[0].Description)
            </th>
            <th>
                Instances
            </th>
            <th>
                Package
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlugIns[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlugIns[0].UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PlugIns) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instances.Count)
            </td>
            <td>
                @(item.Package != null ? item.Package.ToString() : "Unassigned")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-page="./Package" asp-route-id="@item.Id">Package</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.PlugIns.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PlugIns.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.PlugIns.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.PlugIns.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>