@page
@model Shaos.Pages.PlugIns.PackageModel

@{
    ViewData["Title"] = "Package";
}

<h1>Package</h1>

<h4>PlugIn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="PlugIn.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugIn!.Name)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugIn!.Name)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugIn!.Description)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugIn!.Description)
                </dd>
            </dl>
            <h4>Package</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugInInformation!.AssemblyFileName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugInInformation!.AssemblyFileName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugInInformation!.AssemblyVersion)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugInInformation!.AssemblyVersion)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugInInformation!.FileName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugInInformation!.FileName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugInInformation!.HasConfiguration)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugInInformation!.HasConfiguration)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugInInformation!.HasLogger)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugInInformation!.HasLogger)
                </dd>
                <dt class="col-sm-6">
                    Upload Package
                </dt>
                <dd class="col-sm-6">
                    <input asp-for="PackageFile" type="file" />
                </dd>
            </dl>

            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-success">
                    <span>
                        <svg bootstrap-icon="CloudArrowUp" width="18" height="18" aria-label="Save"></svg>
                    </span>
                </button>
                <a asp-page="./Index" class="btn btn-sm btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
