@page
@model Shaos.Pages.PlugIns.UploadModel

@{
    ViewData["Title"] = "Upload";
}

<h1>Package</h1>

<h4>PlugIn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugInInformation!.Name)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugInInformation!.Name)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugInInformation!.Description)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugInInformation!.Description)
                </dd>
            </dl>
            <h4>Package</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugInInformation!.AssemblyFile)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugInInformation!.AssemblyFile)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugInInformation!.AssemblyVersion)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugInInformation!.AssemblyVersion)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugInInformation!.TypeName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugInInformation!.TypeName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugInInformation!.HasConfiguration)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugInInformation!.HasConfiguration)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PlugInInformation!.HasLogger)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PlugInInformation!.HasLogger)
                </dd>
                <dt class="col-sm-6">
                    Upload Package
                </dt>
                <dd class="col-sm-6">
                    <input asp-for="PackageFile" type="file" />
                </dd>
                <dt class="col-sm-6">
                </dt>
                <dd class="col-sm-6">
                    <button type="submit" class="btn btn-sm btn-success" asp-page-handler="Upload">
                        <span>
                            <svg bootstrap-icon="CloudArrowUp" width="18" height="18" aria-label="Upload"></svg>
                        </span>
                        Upload
                    </button>
                </dd>
            </dl>
        </form>
        <form method="post">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-success" asp-page-handler="Save">
                    <span>
                        <svg bootstrap-icon="Floppy" width="18" height="18" aria-label="Save"></svg>
                    </span>
                    Save
                </button>
                <a asp-page="./Index" class="btn btn-sm btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
