@page
@using Shaos.Services.Runtime.Host
@model Shaos.Pages.Instances.IndexModel
@{
}

<h1>Instances</h1>

@{
    var backToListDisabled = string.IsNullOrEmpty(Model.CurrentFilter) ? "disabled" : "";
}

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-sm btn-primary" /> |
            <a asp-page="./Index" class="btn btn-sm btn-primary @backToListDisabled">Back To List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.IdSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.List[0].Id)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.List[0].Name)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.List[0].State)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].StopTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].RunningTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].Exception)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StopTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RunningTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exception)
                </td>
                <td>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @{
                            var canStart = item.CanStart();
                            var canStop = item.CanStop();
                            var canConfigure = item.CanConfigure() ? null : "disabled";
                        }
                        <input type="submit" asp-page-handler="Start" class="btn btn-sm btn-success" asp-route-id="@item.Id" value="Start" disabled="@(canStart ? null : "disabled")" />
                        <input type="submit" asp-page-handler="Stop" class="btn btn-sm btn-danger" asp-route-id="@item.Id" value="Stop" disabled="@(canStop ? null : "disabled")" />
                        <a asp-page="./Configuration" asp-route-id="@item.Id" class="btn btn-sm btn-primary @canConfigure">
                            Configure
                        </a>
                        <a asp-page="/Devices/Index" asp-route-id="@item.Id" class="btn btn-sm btn-primary title="Devices">
                            <span>
                                <svg bootstrap-icon="CardList" width="24" height="24" aria-label="Devices"></svg>
                            </span>
                        </a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.List.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.List.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.List.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-sm btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.List.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-sm btn-primary @nextDisabled">
    Next
</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}