@using Shaos.Repository.Models.Devices.Parameters

@model FloatParameter

<div id="@Model.Id" class="row">
    <div class="col-sm-1">@Model.Value</div>
    <div class="col-sm-2"><input class="form-range" id="@Model.Id" type="range" min="@Model.Min" max="@Model.Max" step="@Model.Step" value="@Model.Value" /></div>
    <div class="col-sm-3">@Model.UpdatedDate</div>
    <div class="col-sm-3">
        <a asp-page="/Plot" asp-route-Id="@Model.Id" asp-route-deviceId="@Model.DeviceId" class="btn btn-sm btn-primary" title="Plot">
            <span>
                <svg bootstrap-icon="GraphUp" width="24" height="24" aria-label="Plot"></svg>
            </span>
        </a>
        <a asp-page="/History" asp-route-id="@Model.Id" asp-route-deviceId="@Model.DeviceId" class="btn btn-sm btn-primary" title="History">
            <span>
                <svg bootstrap-icon="ClockHistory" width="24" height="24" aria-label="History"></svg>
            </span>
        </a>
        <a asp-page="/Export" asp-route-id="@Model.Id" asp-route-deviceId="@Model.DeviceId" class="btn btn-sm btn-primary" title="Export">
            <span>
                <svg bootstrap-icon="Download" width="24" height="24" aria-label="Export"></svg>
            </span>
        </a>
    </div>
</div>