@using Shaos.Repository.Models.Devices.Parameters

@model FloatParameter

<div class="row">
    <input class="col-sm form-range" id="@Model.Id" type="range" min="@Model.Min" max="@Model.Max" step="@Model.Step" value="@Model.Value" />
    <div class="col-sm">@Model.Value</div>
</div>