@using Shaos.Repository.Models.Devices.Parameters

@model IntParameter

<div class="row">
    <div class="col-sm-1">@Model.Value</div>
    <div class="col-sm-2"><input class="form-range" id="@Model.Id" type="range" min="@Model.Min" max="@Model.Max" step="@Model.Step" value="@Model.Value" /></div>
    <div class="col-sm-3">@Model.UpdatedDate</div>
</div>