@page
@model Shaos.Pages.PlugInInstances.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<hr />
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlugInInstance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(_ => _.PlugInInstance.Enabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(_ => _.PlugInInstance.Enabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(_ => _.PlugInInstance.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(_ => _.PlugInInstance.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(_ => _.PlugInInstance.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(_ => _.PlugInInstance.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(_ => _.PlugInInstance.PlugIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(_ => _.PlugInInstance.PlugIn!.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(_ => _.PlugInInstance.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(_ => _.PlugInInstance.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(_ => _.PlugInInstance.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(_ => _.PlugInInstance.UpdatedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PlugInInstance.Id" />
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" /> |
        <a asp-page="./Index" class="btn btn-sm btn-primary">Cancel</a>
    </form>
</div>
