@page
@model Shaos.Pages.PlugInInstances.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlugInInstance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlugInInstance.Enabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlugInInstance.Enabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlugInInstance.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlugInInstance.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlugInInstance.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlugInInstance.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlugInInstance.PlugIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlugInInstance.PlugIn.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlugInInstance.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlugInInstance.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlugInInstance.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlugInInstance.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PlugInInstance.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
