@page
@using Serilog.Events
@model Shaos.Pages.Logging.OverrideModel

@{
    ViewData["Title"] = "Override";
}

<h1>Override</h1>

<h4>Log Level Switch</h4>
<hr />
<div class="row">
    <div class="form-group">
        <dl class="col-md-4">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LogLevelSwitch.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LogLevelSwitch.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LogLevelSwitch.CreatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LogLevelSwitch.CreatedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LogLevelSwitch.UpdatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LogLevelSwitch.UpdatedDate)
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="LogLevelSwitch.Level" class="control-label"></label>
                <select asp-for="LogLevelSwitch.Level" asp-items="Html.GetEnumSelectList<LogEventLevel>()">
                    <option value="">Choose Log Level</option>
                </select>
                <span asp-validation-for="LogLevelSwitch.Level" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="LogLevelSwitch.Id" />
            <input type="hidden" asp-for="LogLevelSwitch.Name" />
            <input type="hidden" asp-for="LogLevelSwitch.CreatedDate" />
            <input type="hidden" asp-for="LogLevelSwitch.UpdatedDate" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-sm btn-success" />
                <a asp-page="./Index" class="btn btn-sm btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
